.lore {
    font-style: italic;
    padding: .2em;
    font-weight: lighter;
    text-align: left;
}

.gameplay {
    font-weight: lighter;
    padding: .2em;
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: rgba(128, 128, 128, 0.75);
}

#battle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.image-overlay-container {
    position: relative;
    text-align: center;
    margin: 1em;
}

.background-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

.image-overlay-container>h4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.216);
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    text-shadow: -1px 1px 2px #192B5B,
        1px 1px 2px #192B5B,
        1px -1px 0 #192B5B,
        -1px -1px 0 #192B5B;
    margin: 0;
    border-radius: 1em;
    aspect-ratio: 16 / 9;
}

@media (max-width: 1000px) {

    #battle {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media (max-width: 720px) {

    #battle {
        font-size: 1em;
    }
}

@media (max-width: 480px) {

    #battle {
        font-size: .9em;
    }
}

@media (max-width: 425px) {

    #battle {
        font-size: .8em;
    }
}

@media (max-width: 370px) {

    #battle {
        font-size: .7em;
    }
}

@media (max-width: 320px) {

    #battle {
        font-size: .5em;
    }
}