/* Text Layout */
.lore,
.gameplay {
    font-weight: lighter;
    padding: .2em;
    text-align: left;
}

.lore {
    font-style: italic;
}

/* Quick Nav Styles */
#quick {
    border-style: ridge;
    border-color: gray;
    border-radius: 1em;
    width: 70%;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;

}

.quick-nav {
    list-style-type: none;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.quick-nav a {
    display: block;
    color: green;
    text-decoration: none;
    font-weight: bold;
    border-style: ridge;
    border-radius: .5em;
    border-color: darkgray;
    padding: auto;
    max-height: 1.5em;
}

.quick-nav li {
    flex-basis: 50%;
    margin: .1em;
}

/* Allies Layout */
#scions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

#leaders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

h1 {
    text-align: center;
}

h4 {
    font-size: 1.5em;
}

h4 img {
    max-height: 12em;
    max-width: fit-content;
}

#scions h4 {
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: rgba(0, 139, 139, 0.75);
}

#leaders h4 {
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
}

#gridania {
    background-color: #d3a50dbf;
}

#uldah {
    background-color: #1F3645bf;
}

#limsa {
    background-color: #C01B22bf;
}

h3>a {
    font-size: .8em
}

/* Media Breakpoints */
@media (max-width: 1560px) {

    #scions,
    #leaders {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media (max-width: 720px) {

    #scions,
    #leaders {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .quick-nav {
        font-size: .9em;
        flex-direction: column;
    }

    .quick-nav li {
        margin: .1em;
    }
}

@media (pointer: fine) {
    #quick {
        display: none;
    }
}