.lore {
    font-style: italic;
    padding: .2em;
    font-weight: lighter;
    text-align: left;
}

.gameplay {
    font-weight: lighter;
    padding: .2em;
    text-align: left;
}

#quick {
    border-style: ridge;
    border-color: gray;
    border-radius: 1em;
    width: 50%;
    display: block;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.55);
    text-align: center;
}

.quick-nav {
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.quick-nav li {
    flex-basis: 20%;
    margin: .1em;
}

#tanks,
#healers,
#melee,
#range,
#casters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

h2,
h3 {
    text-align: center;
}

h4 img {
    max-height: 20em;
    max-width: fit-content;
}

#tanks h4 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: rgba(0, 0, 139, 0.75);
}

#healers h4 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: rgba(0, 100, 0, 0.75);
}

.dps h4 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: rgba(139, 0, 0, 0.75);
}

@media (max-width: 1000px) {
    #tanks,
    #healers,
    #melee,
    #range,
    #casters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media (max-width: 720px) {
    #tanks,
    #healers,
    #melee,
    #range,
    #casters {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .quick-nav {
        font-size: .9em;
        flex-direction: column;
    }
    
    .quick-nav li {
        margin: .1em;
    }
}
