.lore {
    font-style: italic;
    font-size: .8em;
    padding: .2em;
    font-weight: lighter;
    text-align: left;
}

.gameplay{
    font-weight: lighter;
    font-size: .8em;
    padding: .2em;
    text-align: left;
}

#crafters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

#gatherers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

h3{
    text-align: center;
    font-size: 1.4em;
}

h4 img{
    max-height: 20em;
    max-width: fit-content;
}

#crafters h4{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: gray;
}

#gatherers h4{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-style: solid;
    border-radius: 1em;
    margin: .5em;
    background-color: gray;
}