/* Intro to Free Companies Layout */
#companydetails {
    display: grid;
    grid-template-areas:
        'historyImg history'
        'social socialImg'
        'raidImg raid'
        'event eventImg';
}

h1,
h2,
h3,
h4,
p,
ul {
    text-align: center;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.768);
    font-size: 1.5em;
    padding: 2vw;
}

h2,
h3 {
    background-color: #5b1919bf;
}

#fclore {
    font-style: italic;
}

#fclist {
    list-style: inside circle;
}

/* My FC Layout */
#zero {
    grid-area: history;
}

#one {
    grid-area: historyImg;
}

#two {
    grid-area: social;
}

#three {
    grid-area: socialImg;
}

#four {
    grid-area: raid;
}

#five {
    grid-area: raidImg;
}

#six {
    grid-area: event;
}

#seven {
    grid-area: eventImg;
}

.fcgrid {
    width: 46vw;
    justify-content: center;
    margin: 4em 0vw;
    border-radius: 1em;
    background-color: #5b1919bf;
    font-size: 1.9vw;
    margin: 1em 0;
    padding: 1vw;
}

.fcgrid img {
    margin: 0;
    padding: 0;
}

/* Form Formatting */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
}

form {
    justify-content: center;
    background-color: #192B5BBF;
    border-radius: 1em;
}

form input,
form option,
form select,
form label,
::placeholder {
    font-size: 2vw;
}

fieldset,
#joinus {
    border-radius: 1em;
    width: 42vw;
}

#joinus {
    background-color: transparent;
    font-size: 1.7vw;
}

fieldset fieldset {
    display: grid;
    width: 40vw;
    grid-template-columns: 15vw 25vw;
    background-color: rgba(0, 0, 0, 0.768);
}

fieldset fieldset * {
    height: auto;
    margin: .5em 0;
}

.checkboxes {
    grid-template-columns: 1fr 3fr;
}

.checkboxes label {
    margin-left: 0;
}

.checkboxes input {
    margin-top: .5em;
    margin-right: 1em;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

#buttons input {
    margin: .5em;
    font-size: 2vw;
    height: 2em;
}

/* Media Breakpoint */
@media (max-width: 720px) {
    #companydetails {
        grid-template-areas:
            'historyImg' 'history'
            'socialImg' 'social'
            'raidImg' 'raid'
            'eventImg' 'event';
    }

    .fcgrid {
        width: 92vw;
        font-size: 6vw;
    }

    #zero,
    #two,
    #four,
    #six {
        margin-top: 0;
    }

    #one,
    #three,
    #five,
    #seven {
        margin-bottom: 0;
    }

    form {
        font-size: 3vw;
        border-radius: 1em;
    }

    fieldset,
    #joinus {
        border-radius: 1em;
        width: 84vw;
    }

    #joinus {
        font-size: 4vw;
    }

    fieldset fieldset {
        display: grid;
        width: 80vw;
        grid-template-columns: 40vw 40vw;
    }

    fieldset fieldset * {
        height: 6vh;
    }

    form input,
    form option,
    form select,
    form label,
    ::placeholder {
        font-size: 4vw;
    }

    #buttons input {
        margin: .5em;
        font-size: 4vw;
        height: 4em;
    }

}