#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#intro > * {
    max-width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    font-style: italic;
    text-shadow: -1px 1px 2px #192B5B,
    1px 1px 2px #192B5B,
    1px -1px 0 #192B5B,
    -1px -1px 0 #192B5B;
    text-align: center;
    border-radius: 1em;
    margin: 1em 0em;
    background-color: #192B5BBF;
}

#intro > img{
    opacity: 95%;
}

#welcome{
    display: grid;
    grid-template-columns: 1fr;
}

#welcome > * {
    max-width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    border-radius: 1em;
    margin: 1em 0em;
    background-color: #192B5BBF;
}

#welcome > img{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    opacity: 95%;
    margin-bottom: 0;
}

#start {margin-top: 0;}

body,
html {
    height: 100%;
    margin: 0;
    position: relative;
}

#opening {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
}

#playpause {
    background-color: transparent;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.55);
}

.odd {
    background-color: rgba(255, 0, 0, 0.55);
}

@media (max-width: 1470px) {
    #map {
        grid-area: map;
        margin-bottom: 0;
    }

    #eorzea {
        grid-area: eorzea;
        margin-top: -.2em;
        margin-bottom: 1em;
    }

    #msq {
        grid-area: msq;
        margin-top: 1em;
        margin-bottom: 0;
    }

    #story {
        grid-area: story;
        margin-top: -.2em;
        margin-bottom: 1em;
    }

    #intro {
        grid-template-areas:
            'map'
            'eorzea'
            'msq'
            'story';
grid-template-columns: 1fr;
    }
}

@media (max-width: 720px) {
    div#sections {
        display: grid;
        grid-template-columns: 1fr;
    }

    p#about {
        font-style: italic;
        margin: 50px auto;
        background-color: rgba(0, 0, 0, 0.55);
        border-style: solid;
        border-radius: 1em;
        border-color: transparent;
        width: 100%;
    }

    div#eorzea img {
        display: block;
        opacity: .75;
        width: 100%;
        margin: auto;
    }
}