h3 {
    color: lightgray;
    text-decoration: underline;
}

p {
    margin: 10px;
}

p#about {
    font-style: italic;
    margin: 50px 20px;
    border: 5px solid darkgray;
    border-radius: 10px;
}

div#sections {
    display:flex;
    flex-direction: row;
}

#hardware-section {
    flex-basis: 33%;
}

#software-section {
    flex-basis: 33%;
}

#plugins-section {
    flex-basis: 33%;
}