h3 {
    color: lightgray;
    text-decoration: underline;
}

p {
    margin: 10px;
}

p#about {
    font-style: italic;
    margin: 50px 20px;
}

div#sections {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 720px) {
    div#sections {
        display:grid;
        grid-template-columns: 1fr;
    }
}