/* CSS for common elements for all web pages, including navigation, consitent fonts, and common footers */
/* specific css for each page can be found in the css folder */

body {
    font-family: Arial, sans-serif;
    /*background-image: url(images/mypc.jpg);
    background-repeat: no-repeat;*/
    background: linear-gradient(rgb(0, 5, 25), rgb(0, 0, 0));
    color: rgb(110, 255, 233);
    line-height: 1.6;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: fit-content;
}

.navigation {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.navigation li {
    flex-basis: 25%;
    margin: .1em;
    /*display: inline-block;
    width: 22%;*/
    background-color: rgba(0, 0, 0, 0.55);
}

.navigation a {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    border-style: double;
    border-radius: .5em;
    border-color: darkgray;
}

a[href] {
    text-decoration: underline;
    color: #4a9ef8;
}

a:hover {
    color: #0011ff;
    background-color: white;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #6c757d;
    padding: 1em;
    border-style: solid;
    border-radius: 1em;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.55);
}

@media (max-width: 720px) {

    .navigation {
        list-style-type: none;
        text-align: center;
        margin: .1em;
        padding: 0;
        display: block;
        flex-direction: column;
    }

    .navigation li {
        /*display:flex;*/
        display: block;
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
    }
}