body {
    font-family: Arial, sans-serif;
    /*background-image: url(images/mypc.jpg);
    background-repeat: no-repeat;*/
    background: linear-gradient(rgb(193, 10, 10), rgb(68, 64, 64));
    color: rgb(110, 255, 233);
    line-height: 1.6;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.navigation {
    list-style-type: none;
    text-align: center;
}

.navigation a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a[href] {
    text-decoration: underline;
    color: #4a9ef8;
}

a:hover {
    color: #0011ff;
    background-color: white;
}

p{
    margin: 10px;
}

p#about {
    font-style: italic;
    margin: 50px 20px;
    border: 5px solid darkgray;
    border-radius: 10px;
}

p::first-letter {
    font-size: 150%;
    color: #ff2200;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #6c757d;
    padding: 100px;
}